* {
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 29);
}

body {
    background-color: aquamarine;
}

h1 , h2{
    text-align: center;
}
img    {
    border-radius: 50%;
    max-width:200px;
    max-height:150px;
    width: 150px;
    height: auto;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0%;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
}
footer {
    margin-top: 100px;
}

hr {
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    
}